@page "/"

@using Data
@inject QuizService QuizRepository


<h1>Take your quiz!</h1>
<p>Your current score is @currentScore</p>

@if (quiz == null)
{
    <p><em>Loading...</em></p>
}
else
{
    int quizIndex = 0;
    @foreach (var quizItem in quiz)
    {
<section>
    <h3 class=@quizItem.ResultClass>@quizItem.Question</h3>
    @if (quizItem.QuestionQuestionType == QuestionOrAnswerType.Image)
    {
        <img style="height:200px;width:300px;" src="Images/@quizItem.QuestionImage" />
    }
    <div class="form-check">
        @{
            int choiceIndex = 0;
            quizScores.Add(0);
        }

        @foreach (var choice in quizItem.Choices)
        {
            int currentQuizIndex = quizIndex;
            if (quizItem.QuestionAnswerType == QuestionOrAnswerType.Image)
            {
                <img style="height:200px;width:300px;" src="Images/@choice" />
            }
            else
            {
                <label for="@quizIndex">@choice</label>
            }
            <input class="form-check-input" style="margin-left:0.5rem;" type="radio" name="@quizIndex" value="@choiceIndex" @onchange="@((eventArgs) => UpdateScore(Convert.ToInt32(eventArgs.Value), currentQuizIndex))" />


            <br />
            choiceIndex++;
        }
    </div>
</section>

        quizIndex++;
    }

    <input class="btn btn-primary" type="submit" value="Submit" @onclick="QuizSubmitted">
}

@code {
    List<QuizItem> quiz;
    List<int> quizScores = new List<int>();
    int currentScore = 0;

    string headerClass = "my-header-h3";

    protected override async Task OnInitializedAsync()
    {
        quiz = await QuizRepository.GetQuizAsync();
    }

    void UpdateScore(int chosenAnswerIndex, int quizIndex)
    {
        var quizItem = quiz[quizIndex];

        if (chosenAnswerIndex == quizItem.AnswerIndex)
        {
            quizScores[quizIndex] = quizItem.Score;
        }
        else
        {
            quizScores[quizIndex] = 0;
        }

    }

    void QuizSubmitted()
    {
        foreach(var quizItem in quiz)
        {
            if (quizScores[quiz.IndexOf(quizItem)] != 0)
            {
                quizItem.ResultClass = "passed";
            }
            else
                quizItem.ResultClass = "failed";
        }
        currentScore = quizScores.Sum();
        headerClass = "failed";
    }
}